<div class="well"
    <h5 class="text-center">Reklama</h5>
        <h3 class="text-danger">Ako si vedu nase klany v kampani GAMBIT?</h3>
        <p> Poradie CZ/SK klanov v práve prebiehajúcej kampani GAMBIT <a class="navbar-link" href="https://fpcstat.cz/rebricek-klany/kampan"> Valley of Fame GAMBIT</a> </p>
 </div>