<div class="well"
    <h5 class="text-center">Reklama</h5>
    <h3 class="text-danger">Klan WTBT hlada bojoveho velitela</h3>
    <p>Hledám nějakého zkušeného, i hráče co by si rád zavelel v klanu WTBT,
        pokud by někdo měl zájem dejte vědět.<hr />
        sharper1_eEriness
    </p>
 </div>