<div class="well"
    <h5 class="text-center">Reklama</h5>
    <h3 class="text-danger">Klan WTBT nabírá hráče</h3>
    <p>
     Klan WTBT nabírá hráče nad 18 let, děláme i vyjímky v určitých případech, ale zhruba 1800 wn8 a vyšší se snažíme dobírat. Nejsme nároční, ale momentálně by se nám hodila posila do CW bitev X.
     <span class="ccw-word" data-type="user_wot__eu">sharper1_eEriness</span>   
    </p>
 </div>

 <!-- CCW loader --> <script n:syntax="off" type="text/javascript"> (function(w,d,s,p){ var f=d.getElementsByTagName(s)[0],j=d.createElement(s),i; j.async=true;j.src='//'+p['server']+'/compiled/loader.min.js';j.setAttribute('id', 'ccw-loader'); for(i in p){if (p.hasOwnProperty(i)) {j.setAttribute('data-'+i,p[i]);}} f.parentNode.insertBefore(j,f); })(window,document,'script',{ 'server':'ccw-center.wargaming.net', 'language':'cs', 'service':'service_name' }); </script> <!-- /CCW loader -->