<div class="well"
    <h5 class="text-center">Reklama</h5>
        <h3 class="text-danger">Zoznam Cz/Sk klanov</h3>
        <p> 	Mozno by sa niekomu hodil do jeho projektu zoznam Cz/Sk klanov. Tak som ho pripravil, ako JSON file.
		Subor sa aktualizuje denne cca o 11.40. Je tam cez 6300 Cz/Sk klanov zoradenych podla clan_id: 
		<a class="navbar-link" href="https://fpcstat.cz/json/cs_klany.json">cs_klany.json</a> </p>
 </div>
