{block head}
<meta name="keywords" content="WN8,WN8 calculator,WN8 per tank,calculator WN8, kalkulačka WN8">
<meta name="description" content="Shows how the WN8 calculation is performed during each step. Displays the individual steps of the WN8 calculation for the selected tank.">
<meta name="robots" content="nofollow,noarchive">
<div style="margin-top:30px;">
<title >WN8 calculator</title>
<style>
*{
      -webkit-border-radius: 1px !important;
         -moz-border-radius: 1px !important;
              border-radius: 1px !important;

}
</style>
{/block}

{block content}
<div id="root" style="padding-top: 25px"> </div>
<script src="/js/react/wn8calculator/wn8calculator.js"></script>
</div>
{/block}
